<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a New Listing</h3>
    <form action="POST" action="/listings">
      <input name="listing[title]" placeholder="Enter title" type="text" />
      <br />
      <br />
      <input
        name="lisitng[description]"
        placeholder="Enter title"
        type="text"
      />
      <br /><br />
      <textarea
        name="listing[iamge]"
        placeholder="enter img url/link"
        type="text"
      ></textarea>
      <br /><br />
      <input name="listing[price]" placeholder="Enter price" type="number" />
      <br /><br />
      <!-- key value pairs here listing has key country and all -->
      <input name="listing[country]" placeholder="Enter country" />
      <br /><br />
      <input name="listing[location]" placeholder="Enter location" />
      <br /><br />
      <button>Add</button>
    </form>
  </body>
</html>
